.NOUPPERCASECLASS{
    border: 1px solid red;
}
.nouppercaseproperty{
    BORDER: 1px solid red;
}
._nounderscore{
    border: 1px solid red;
}
.colorsinlowercase {
    background-color: #FF0000;
    color: #FFFFFF;    
}
.noshorthandforfont{
    font: 15px bold arial,helvetica,sans-serif;
}
.noshorthandforlists{
    list-style : inherit inherit inside;
}